.side-bar {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	place-items: center;
	width: 15%;
	height: 100%;
	border-right: 6px solid #1f2022;
	padding-top: 25px;
	max-width: 280px;
}

.logo {
	width: 80%;
	max-width: 200px;
	margin-bottom: 10px;
}

.nav-item {
	display: flex;
	width: 80%;
	gap: 8px;
	align-items: center;
	border-radius: 7.5px;
	padding: 7.5px;
	font-weight: 500;
	color: #8e9ba9;
	font-size: var(--font-md);

	.icon {
		margin-left: 15%;
		width: 30px;
		height: 30px;
	}
}

.nav-item:hover {
	background: #1f2022;
	color: white;
	cursor: pointer;
}

.nav-item.selected {
	background: #1f2022;
	color: white;
}

@media (max-width: 1400px) {
	.side-bar {
		width: 18%;
	}
}

@media (max-width: 1200px) {
	.side-bar {
		width: 20%;
	}
}

@media (max-width: 1000px) {
	.side-bar {
		display: none;
	}
}
