.responsive-table {
	max-width: 100%;
	overflow-x: auto;

	.MuiTable-root {
		width: 100%;
		border-collapse: collapse;

		.MuiTableCell-root {
			padding: 8px;
			font-size: 14px;
		}

		.table-header {
			font-weight: bold;
			color: var(--color-primary);
			background-color: var(--color-secondary);
		}

		.MuiTableRow-root {
			&:nth-child(even) {
				background-color: #f5f5f5; // Light grey for odd rows
			}
			&:nth-child(odd) {
				background-color: #ffffff; // White for even rows
			}
		}
	}

	@media (max-width: 768px) {
		.MuiTableCell-root {
			font-size: 12px;
			padding: 6px;
		}

		.table-header {
			font-size: 13px;
		}
	}
}

.paginated-list {
	width: 100%;
}

.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 16px;

	.pagination {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px;
		border: 1px solid #8d99a9;
		border-radius: 5px;
		font-size: var(--font-md);
		font-weight: 500;
		color: var(--color-primary);
		background: transparent;

		&:disabled {
			cursor: not-allowed;
			color: #4f4f4f;
		}

		&.active {
			color: black;
			background: #cfcfd0;
		}
	}
}

.action-item:hover {
	color: var(--color-secondary);
	background: var(--color-primary) !important;
}

.table-header {
	text-wrap: nowrap;
}
