.status-box-container {
	display: flex;
	flex: 1;
	min-width: 200px;
	height: 80px;
	border-radius: 10px;
	place-items: center;
	padding-inline: 15px;
	padding-block: 25px;
	gap: 16px;

	@media (max-width: 500px) {
	}

	.icon {
		margin-left: 8%;
		width: var(--icon-md);
		height: var(--icon-md);
	}

	.content {
		display: flex;
		flex-direction: column;

		.title {
			display: flex;
			align-items: center;
			font-size: var(--font-sm);
		}

		.value {
			font-weight: 700;
			font-size: var(--font-xl);
		}
	}
}
