.zkp-modal {
	width: 50%;

	@media screen and (max-width: 1000px) {
		width: 75%;
	}

	@media screen and (max-width: 680px) {
		width: 95%;

		p {
			overflow: scroll;
		}
	}

	.no-zkp {
		text-align: center;
		margin-block: 25px;
		font-weight: 500;
		font-size: var(--font-2xl);
	}

	p {
		padding-inline: 10px;
		margin-block: 25px;
		text-align: center;
		line-height: var(--font-2xl);
		font-weight: 400;
		font-size: var(--font-md);
		word-break: break-all;
	}
}

.data-modal {
	width: 25%;
	&.big {
		width: 50% !important;
	}
	
	padding-bottom: 30px !important;

	@media screen and (max-width: 1000px) {
		width: 30%;
		&.big {
			width: 75% !important;
		}
	}

	@media screen and (max-width: 680px) {
		width: 65%;
		&.big {
			width: 95% !important;
		}
	}

	.main-data {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		gap: 16px;

		.holder {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&.service {
				width: 40%;
				margin-left: 13%;
			}

			p {
				text-align: justify;
				font-weight: 400;
				color: white;
				font-size: var(--font-md);

				span {
					color: #8a97a6;
				}
			}
		}

		.img {
			align-self: center;
			width: 200px;
			height: auto;
			border-radius: 10px;
			overflow: hidden;

			&.device {
				width: 100px;
			}
		}
	}
}

.transaction-box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	row-gap: 40px;
	padding: 20px;
	border-bottom: 2px solid #1f2022;

	.left-data {
		align-self: center;
		flex-basis: 140px;
		flex-grow: 0.5;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.badge {
			display: flex;
			gap: 8px;
		}

		.transaction-hash {
			display: flex;
			align-items: center;
			gap: 8px;

			.icon {
				width: 25px;
				height: 25px;
			}

			.transaction-time {
				width: 50px;
				margin-left: 8px;
				display: flex;
				text-align: center;
				text-wrap: nowrap;
				font-weight: 500;
				color: #8a97a6 !important;
				font-size: var(--font-md);
			}

			.hash {
				width: 210px;
				font-size: var(--font-lg);
				font-weight: 500;
				color: #0ea1ca;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}

	.transaction-wallets {
		flex-basis: 180px;
		flex-grow: 1;
		display: flex;
		justify-content: center;

		.holder {
			width: fit-content;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: end;
			justify-content: center;
			gap: 10%;

			.wallet {
				border: 1.4px dashed transparent;
				border-radius: 10px;
				padding: 6px;
				display: flex;
				align-items: center;
				width: fit-content;
				gap: 6px;

				&:hover {
					cursor: pointer;
					border: 1.4px dashed #0ea1ca;
					background: #1a365c;
				}

				.icon {
					width: var(--icon-sm);
					height: var(--icon-sm);

					&.copy {
						cursor: pointer;
					}
				}

				p {
					font-weight: 400;
					font-size: var(--font-lg);
					color: #0ea1ca;

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
		}
	}

	.button-container {
		flex-basis: 152px;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 8px;

		.button {
			font-weight: 400;
			flex-grow: 1;
			flex-basis: auto;

			&:not(.skeleton) {
				background: #0c3ea1;
			}
		}
	}

	.transaction-value {
		flex-basis: 350px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		place-items: center;
		font-weight: 500;

		.holder {
			display: flex;
			flex-direction: column;
			width: fit-content;
			gap: 8px;
			padding-left: 10%;

			p {
				font-size: var(--font-sm);
				text-wrap: nowrap;
				overflow: hidden; /* Hide the overflowed text */
				text-overflow: ellipsis; /* Show the ellipsis at the end */
				color: #cfcfd0;

				span {
					color: #8d99a9;
				}
			}
		}
	}
}
