.zkp-modal {
	width: 50%;
}

.data-modal {
	width: 50%;
	padding-bottom: 30px !important;

	.data-holder {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.img {
			align-self: center;
			width: 200px;
			height: auto;
			border-radius: 10px;
			overflow: hidden;
		}

		p {
			text-align: center;
			font-weight: 700;
			color: white;

			span {
				color: #8a97a6;
			}
		}
	}
}

.transaction-box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	row-gap: 40px;
	padding: 20px;
	border-bottom: 2px solid #1f2022;

	.left-data {
		align-self: center;
		flex-basis: 140px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 16px;

		.badge {
			display: flex;
			gap: 8px;
		}

		.transaction-hash {
			display: flex;
			align-items: center;
			gap: 8px;

			p {
				font-size: var(--font-lg);
				font-weight: 700;
				color: #0ea1ca;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.transaction-time {
		flex-basis: 50px;
		flex-grow: 0.5;
		display: flex;
		justify-content: center;
		text-align: center;
		text-wrap: nowrap;
		margin-top: auto;
		margin-bottom: 1%;
		font-weight: 700;
		color: #8a97a6;
		font-size: var(--font-md);
	}

	.transaction-wallets {
		flex-basis: 180px;
		flex-grow: 0.3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30%;
		padding-right: 10px;

		.wallet {
			display: flex;
			align-items: center;
			gap: 6px;

			.icon {
				width: var(--icon-sm);
				height: var(--icon-sm);

				&.copy {
					cursor: pointer;
				}

				&.start {
					margin-left: 10%;
				}
			}

			p {
				font-weight: 700;
				font-size: var(--font-lg);
				color: #0ea1ca;
			}
		}
	}

	.button-container {
		flex-basis: 152px;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px;

		.button {
			font-weight: 600;
			flex-grow: 1;
			flex-basis: auto;

			&:not(.skeleton) {
				background: #0c3ea1;
			}
		}
	}

	.transaction-value {
		flex-basis: 80px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		place-items: center;
		font-weight: 700;

		.holder {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 8px;
			padding-left: 10%;
			p {
				font-size: var(--font-sm);
				text-wrap: nowrap;
				overflow: hidden; /* Hide the overflowed text */
				text-overflow: ellipsis; /* Show the ellipsis at the end */
				max-width: 200px;

				span {
					color: #5f6b7c;
				}
			}
		}
	}
}
