.footer-comp {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 16px;
	padding-inline: 24px;
	width: 100%;
	color: #0c1e33;

	a:visited {
		color: #0c1e33;
		text-decoration: none !important;
	}
}
