
.footer-comp {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
    padding-inline: 16px;
    width: 100%;
    color: white;
    background-color: #0c1e33;
}