.badge-container {
	display: flex;
	padding-block: 5px;
	padding-inline: 10px;
	border-radius: 5px;
	align-items: center;
	text-wrap: nowrap;
	gap: 4px;

	.icon {
		color: var(--color-secondary);
		font-size: var(--icon-md);
	}

	p {
		color: var(--color-secondary);
		font-weight: 400;
		font-size: var(--font-md);
	}
}
