.slider-banner-item {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 10px;
}

.slick-slide {
	padding: 0 10px;
	overflow: hidden;
}

.slider-container .slick-list {
	margin: 0 -10px;
}

.clickable {
    cursor: pointer;
}
