.custom-button {
	display: flex;
	position: relative;
	height: fit-content;
	padding-inline: 15px;
	padding-block: 10px;
	border-radius: 5px;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.custom-button:hover {
    opacity: 0.75;
}

.custom-button:active {
    opacity: 0.9;
}

.custom-button.loading {
    cursor: not-allowed;
}

.custom-button .loader {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-top: 3px solid #111827; /* Primary loader color */
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.custom-button .text-loading {
	opacity: 0.5;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
