.device-box-container {
	display: grid;
	width: 100%;
	grid-template-columns: 100px repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	gap: 16px;
	border: 1px solid #8e9ba9;
	border-radius: 10px;
	padding-inline: 15px;
	padding-block: 10px;

	p {
		font-size: var(--font-md);
        color: #aab3bd;
	}
	.multi-line {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.image-holder {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		padding: 5px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1e1f21;
		border: 1.5px solid #8e9ba9;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
