.event-label {
  &.zkp {
    span {
      background: #c4dcf7;
      color: #3e6187;
    }
  }

  &.commitment {
    span {
      background: #d4c4f7;
      color: #503e87;
    }
  }

  &.device {
    span {
      background: #faf5c8;
      color: #8a823f;
    }
  }

  &.service {
    span {
      background: #f7d4fb;
      color: #7f3987;
    }
  }

  &.transaction {
    span {
      background: #cef6cd;
      color: #618d5c;
    }
  }

  span {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
  }
}

.text-wrap {
  text-wrap: wrap !important;
}

.transaction-hash-label {
  cursor: pointer;
  text-decoration: underline;
}

.transaction-hash-label:hover {
  font-weight: 600;
}

.zkp-modal {
  color: var(--color-secondary);
  width: 50%;
  max-height: 85dvh;
  margin: 0 auto;

  .no-zkp {
    text-align: center;
    margin-block: 25px;
    font-weight: 500;
    font-size: var(--font-2xl);
  }

  @media screen and (max-width: 1000px) {
    width: 75%;
  }

  @media screen and (max-width: 680px) {
    width: 95%;
  }
}

.proof-modal {
  overflow: hidden;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Center within the constrained body */
  padding: 20px;
  flex-wrap: wrap;
  white-space: wrap;
  max-width: 650px !important;
  margin-inline: auto;

  .proof-header {
    display: flex;
    align-items: center;
    gap: 6px;

    .header-icon {
      font-size: 55px;

      &.x {
        color: red;
      }

      &.check {
        color: #00ff00;
      }
    }
  }

  .img {
    align-self: center;
    width: 200px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;

    &.device {
      width: 120px !important;
      height: auto;
    }
  }

  .iot-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 12px;
    padding-left: 12px;
    gap: 12px;
    text-align: start;
  }

  @media screen and (min-width: 800px) {
    min-width: 550px;
    width: 40%;
  }
}

.data-modal {
  color: var(--color-secondary);
  width: auto;
  max-height: 90dvh;
  overflow: auto;
  margin-inline: 20px;
  min-width: 325px;

  &.big {
    max-width: 400px;
  }

  padding-bottom: 30px !important;

  .main-data {
    padding-inline: 25px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 16px;

    .holder {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &.service {
        width: 100%; /* Adjust width as needed */
        margin: 0 auto; /* Centers the content horizontally */
        text-align: left; /* Ensures text alignment starts from the same X-axis */
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 680px) {
          width: 95%; /* Wider width for smaller screens */
        }

        p {
          width: 100%; /* Ensures text does not overflow */
          text-align: left; /* Ensures consistent starting point for all lines */
        }
      }

      p {
        text-align: justify;
        font-weight: 400;
        color: white;
        font-size: var(--font-md);

        span {
          color: #8a97a6;
        }
      }
    }

    .img {
      align-self: center;
      width: 200px;
      height: auto;
      border-radius: 10px;
      overflow: hidden;

      &.device {
        width: 120px !important;
        height: auto;
      }
    }
  }
}

.commitment-holder {
  border: 1px solid;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    word-break: break-all !important;
  }

  &.zkp {
    width: 100%;
    text-align: start;
    margin-top: 16px;
    gap: 16px;

    p {
      height: fit-content;
      padding: 0;
      margin: 0;
    }
  }
}
