.event-label {
	&.zkp {
		span {
			background: #c4dcf7;
			color: #3e6187;
		}
	}

	&.device {
		span {
			background: #faf5c8;
			color: #8a823f;
		}
	}
	
	&.service {
		span {
			background: #f7d4fb;
			color: #7f3987;
		}
	}
	
	&.transaction {
		span {
			background: #cef6cd;
			color: #618d5c;
		}
	}

	span {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 5px;
		border-radius: 5px;
	}
}

.text-wrap {
	text-wrap: wrap !important;
}

.transaction-hash-label {
	cursor: pointer;
}

.transaction-hash-label:hover {
	text-decoration: underline;
}

.zkp-modal {
	color: var(--color-secondary);
	width: 50%;
	max-height: 85dvh;
	margin: 0 auto; /* Center within the constrained body */

	p {
		overflow-y: auto;
		padding-inline: 10px;
		margin-block: 25px;
		text-align: center;
		line-height: var(--font-2xl);
		font-weight: 400;
		font-size: var(--font-md);
		word-break: break-word;
	}

	.no-zkp {
		text-align: center;
		margin-block: 25px;
		font-weight: 500;
		font-size: var(--font-2xl);
	}

	@media screen and (max-width: 1000px) {
		width: 75%;
	}

	@media screen and (max-width: 680px) {
		width: 95%;
	}
}

.proof-modal {
	color: var(--color-secondary);
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto; /* Center within the constrained body */
	padding: 20px;

	@media screen and (max-width: 1000px) {
		width: 75%;
	}

	@media screen and (max-width: 680px) {
		width: 95%;
	}
}

.data-modal {
	color: var(--color-secondary);
	width: auto;
	max-height: 90dvh;
	overflow-y: auto;
	margin-inline: 20px;

	&.big {
		max-width: 400px;
	}

	padding-bottom: 30px !important;

	.main-data {
		padding-inline: 25px !important;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		gap: 16px;

		.holder {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&.service {
				width: 100%; /* Adjust width as needed */
				margin: 0 auto; /* Centers the content horizontally */
				text-align: left; /* Ensures text alignment starts from the same X-axis */
				display: flex;
				flex-direction: column;
				align-items: center;

				@media screen and (max-width: 680px) {
					width: 95%; /* Wider width for smaller screens */
				}

				p {
					width: 100%; /* Ensures text does not overflow */
					text-align: left; /* Ensures consistent starting point for all lines */
				}
			}

			p {
				text-align: justify;
				font-weight: 400;
				color: white;
				font-size: var(--font-md);

				span {
					color: #8a97a6;
				}
			}
		}

		.img {
			align-self: center;
			width: 200px;
			height: auto;
			border-radius: 10px;
			overflow: hidden;

			&.device {
				width: 100px !important;
				height: auto;
			}
		}
	}
}
