.zkp-table-padding {
  padding-block: 24px;
}

.search-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .transaction-list {
    padding-block: 24px;
  }

  .header {
    width: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    color: var(--color-text);

    @media (max-width: 600px) {
      flex-direction: column;
    }

    h1 {
      height: fit-content;
      font-size: var(--font-3xl);
    }
  }

  .message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80dvh;
    justify-content: center;
    align-items: center;
    font-size: var(--font-3xl);

    .icon {
      font-size: 130px;
    }
  }
}
