*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #1f2937;
}

*::-webkit-scrollbar {
	width: 12px !important;
	height: 12px !important;
	background-color: #1f2937 !important;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	background-color: #374151 !important;
}

body {
	transform: scale(0.8);
	transform-origin: 0 0; /* Align scaling to the top-left corner */
	width: 125%; /* Ensure it covers full width after scaling */
	height: 125%;
	overflow: hidden; /* Prevent horizontal scroll */
	background: linear-gradient(90deg, #191521, #282464);
	color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	user-select: none;
}

:root {
	--font-xsm: clamp(8px, 1vw, 12px);
	--font-sm: clamp(10px, 1.5vw, 14px);
	--font-md: clamp(15px, 1vw, 18px);
	--font-lg: clamp(18px, 1.3vw, 20px);
	--font-xl: clamp(22px, 1.5vw, 24px);
	--font-2xl: clamp(26px, 1.5vw, 28px);
	--font-3xl: clamp(30px, 1.5vw, 32px);
	--icon-sm: 18px;
	--icon-md: 24px;
	--icon-lg: 30px;
	--icon-xlg: clamp(40px, 2.5vw, 50px);
}
