*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #fff;
}

*::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
	background-color: #fff !important;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	background-color: var(--color-secondary) !important;
}

body {

	width: 100%; /* Ensure it covers full width after scaling */
	height: 100%;
	overflow: hidden; /* Prevent horizontal scroll */
	background: #fdfdfd;
	color: var(--color-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	user-select: none;
}

:root {
	--color-primary: #0c1e33;
	--color-secondary: #e0e6e9;
	--color-text: #495d72;
	--font-xsm: clamp(8px, 1vw, 12px);
	--font-sm: clamp(12px, 1.5vw, 14px);
	--font-md: clamp(16px, 1vw, 18px);
	--font-lg: clamp(18px, 1.3vw, 20px);
	--font-xl: clamp(22px, 1.5vw, 24px);
	--font-2xl: clamp(26px, 1.5vw, 28px);
	--font-3xl: clamp(30px, 1.5vw, 32px);
	--icon-sm: 18px;
	--icon-md: 24px;
	--icon-lg: 30px;
	--icon-xlg: clamp(40px, 2.5vw, 50px);
	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;
	--screen-2xl: 1536px;
}
