.hacker-container {
	position: relative;
	top: 50%;
	text-align: center;
	color: rgba(white, 0.3);
	font-size: 50px;

	width: 100%;
	white-space: normal; /* Allows line breaks at word boundaries */

	.low-res {
		display: none;
		align-items: center;
		justify-content: center;
		min-height: 10dvh;
		font-size: 32px;
	}

	@media (max-width: 800px) {
		.word-container {
			display: none !important;
		}

		.low-res {
			display: flex !important;
		}
	}

	.glow {
		color: var(--color-secondary);
	}

	.word-container {
		display: inline-block; /* Treats the word as one unit */
		white-space: nowrap; /* Prevents wrapping inside this container */

		span {
			display: inline-block; /* Ensures letters stay inline */
			padding: 0 0.5px;
			font-weight: 500;
		}

		span.space-only {
			padding: 0 10px;
		}
	}
}
